
<div class="mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2>Edit Game</h2>
        </div>
        <div class="card-body">
            <form action="/games/edit/{{game.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-row m-2">
                    <label for="title" class="col-form-label"><h6>Title: </h6></label>
                    <input type="text" name="title" class="col-5 form-control" placeholder="Please write a title..." maxlength="80" value="{{game.title}}" required>
                    <div class="col-6">
                        <label for="realase_date" class="col-form-label"><h6>Realase: </h6></label>
                        <input type="date" class="rounded"  name="realase_date" min="1920-01-01" max="2021-01-01" value="{{ moment game.realase_date format='YYYY-MM-DD' }}" required>
                    </div>
                </div>
                <div class="form-row m-2">
                    <textarea name="description" class="form-control" cols="40" rows="5" placeholder="Description" maxlength="1500" required>{{game.description}}</textarea>
                </div>
                <div class="form-group">
                    <h5>Feactures</h5>
                </div>
                <div class="form group">
                    <label for="platforms" class="col-form-label"><h6>Platform(s)</h6></label>
                    <select name="platforms" class="selectpicker" multiple data-live-search="true">
                        {{#each platforms.items as |platform|}}
                            <option {{#inArray ../game.feactures.platforms platform}}selected="selected"{{/inArray}}>{{platform}}</option>
                        {{/each}}  
                    </select>
                </div>
                <div class="form-row my-2">
                    <div class="col-6">
                        <label for="genres" class="col-form-label"><h6>Genre(s)</h6></label>                       
                        <select name="genres" class="selectpicker" multiple data-live-search="true">
                            {{#each genres.items as |genre|}}
                                <option {{#inArray ../game.feactures.genres genre}}selected="selected"{{/inArray}}>{{genre}}</option>
                            {{/each}} 
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="themes" class="col-form-label"><h6>Theme(s)</h6></label>
                        <select name="themes" class="selectpicker" multiple data-live-search="true">
                            {{#each themes.items as |theme|}}
                                <option {{#inArray ../game.feactures.themes theme}}selected="selected"{{/inArray}}>{{theme}}</option>
                            {{/each}} 
                        </select>
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col-6">
                        <label for="modes" class="col-form-label"><h6>Mode(s)</h6></label>
                        <select name="modes" class="selectpicker" multiple data-live-search="true">
                            {{#each modes.items as |mode|}}
                                <option {{#inArray ../game.feactures.modes mode}}selected="selected"{{/inArray}}>{{mode}}</option>
                            {{/each}}  
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="perspectives" class="col-form-label"><h6>Perspective(s)</h6></label>
                        <select name="perspectives" class="selectpicker" multiple data-live-search="true">
                            {{#each perspectives.items as |perspective|}}
                                <option {{#inArray ../game.feactures.perspectives perspective}}selected="selected"{{/inArray}}>{{perspective}}</option>
                            {{/each}} 
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-file col-6">
                        <input type="file" class="custom-file-input"  name="imageGame" id="imageGame" accept=".png, .jpg, .jpeg">
                        <label class="custom-file-label" for="imageGame" id="fileName">Choose principal image</label>
                    </div>
                </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary btn-lg">Update<i class="far fa-edit ml-2"></i></button>
                    </div>
            </form>
        </div>
    </div>
</div>