<p class="h2 text-center">{{game.title}}</p>
<div class="mt-3"></div>
<img src="{{game.image_path}}" class="rounded float-left" alt="This game doesn't have an image :'(" style="width: 22rem; height: 20rem;">
<p class="h5 d-inline ml-2">Realase:<h6 class="text-muted d-inline ml-2">{{moment game.realase_date format="DD-MM-YYYY" }}</h6></p>
<div class="d-block my-3">
    <p class="h5 d-inline ml-2">Platform(s): </p>
    <ol class="breadcrumb d-inline" style="background-color:transparent;">
        {{#each game.feactures.platforms}}
            <li class="breadcrumb-item d-inline" >{{this}}</li>
        {{/each}}
    </ol>
</div>
<div class="d-block my-4">
    <p class="h5 d-inline ml-2">Games Mode(s): </p>
    <ol class="breadcrumb d-inline" style="background-color:transparent;">
        {{#each game.feactures.modes}}
            <li class="breadcrumb-item d-inline" >{{this}}</li>
        {{/each}}
    </ol>
</div>
<div class="d-block my-4">
    <p class="h5 d-inline ml-2">Theme(s): </p>
    <ol class="breadcrumb d-inline" style="background-color:transparent;">
        {{#each game.feactures.themes}}
            <li class="breadcrumb-item d-inline" >{{this}}</li>
        {{/each}}
    </ol>
</div>
<div class="d-block my-4">
    <p class="h5 d-inline ml-2">Genre(s): </p>
    <ol class="breadcrumb d-inline" style="background-color:transparent;">
        {{#each game.feactures.genres}}
            <li class="breadcrumb-item d-inline" >{{this}}</li>
        {{/each}}
    </ol>
</div>
<div class="d-block my-4 mb-2">
    <p class="h5 d-inline ml-2">Perspective(s): </p>
    <ol class="breadcrumb d-inline" style="background-color:transparent;">
        {{#each game.feactures.perspectives}}
            <li class="breadcrumb-item d-inline" >{{this}}</li>
        {{/each}}
    </ol>
</div>
<div class="d-block ml-2">
    <p class="h5 d-inline ml-2">Description: </p>
</div>
<div class="d-block my-4 text-justify">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis porro odit aperiam nobis laboriosam alias magnam ratione possimus, ullam modi unde hic vitae harum obcaecati iste nemo in, rem et temporibus deserunt voluptate nisi explicabo quas! Commodi, similique doloribus qui eaque vitae sapiente reiciendis reprehenderit, natus in iste recusandae esse ullam laudantium culpa totam corrupti ut nihil voluptatem iusto dolorem! Nesciunt, ad. Quas molestiae mollitia aliquid fugiat quo debitis eveniet sint enim, quaerat cupiditate sequi velit magni ducimus quis exercitationem nesciunt quae ab ad dolorem. Officiis, ea? Quisquam soluta ipsam eaque, aut voluptate perspiciatis ducimus consequatur ullam rerum nisi esse quidem, consequuntur, magnam veritatis quis pariatur adipisci nihil minima numquam architecto exercitationem porro officia! Tempore, doloribus placeat, maiores explicabo ipsum enim officiis ratione, magnam reprehenderit fugiat necessitatibus voluptatum eos delectus? Molestias iure ad commodi, ratione ex praesentium eius culpa amet iusto, totam voluptates. Possimus distinctio nobis asperiores quidem ducimus culpa autem alias id, voluptate delectus quisquam labore veritatis soluta atque est et explicabo molestiae repellendus nulla ipsum facere aliquid! Nam at commodi distinctio quae reprehenderit non nostrum libero quos nesciunt!</p>
</div>