<div class="mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2>New Game</h2>
        </div>
        <div class="card-body">
            <form action="/games/new-game" method="POST" enctype="multipart/form-data" id="my_form">
                <div class="form-row m-2">
                    <label for="title" class="col-form-label"><h6>Title: </h6></label>
                    <input type="text" name="title" class="col-5 form-control" placeholder="Please write a title..." maxlength="80" required autofocus>
                    <div class="col-6">
                        <label for="realase_date" class="col-form-label"><h6>Realase: </h6></label>
                        <input type="date" class="rounded"  name="realase_date" min="1920-01-01" max="2021-01-01" required>
                    </div>
                </div>
                <div class="form-row m-2">
                    <textarea name="description" class="form-control" cols="40" rows="5" placeholder="Description" maxlength="1500" required></textarea>
                </div>
                <div class="form-group">
                    <h5>Feactures</h5>
                </div>
                <div class="form group">
                    <label for="platforms" class="col-form-label"><h6>Platform(s)</h6></label>
                    <select name="platforms" class="selectpicker" multiple data-live-search="true">
                        {{#each platforms.items}}
                            <option>{{this}}</option>
                        {{/each}}  
                    </select>
                </div>
                <div class="form-row my-2">
                    <div class="col-6">
                        <label for="genres" class="col-form-label"><h6>Genre(s)</h6></label>
                        <select name="genres" class="selectpicker" multiple data-live-search="true">
                            {{#each genres.items}}
                                <option>{{this}}</option>
                            {{/each}} 
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="themes" class="col-form-label"><h6>Theme(s)</h6></label>
                        <select name="themes" class="selectpicker" multiple data-live-search="true">
                            {{#each themes.items}}
                                <option>{{this}}</option>
                            {{/each}} 
                        </select>
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col-6">
                        <label for="modes" class="col-form-label"><h6>Mode(s)</h6></label>
                        <select name="modes" class="selectpicker" multiple data-live-search="true">
                            {{#each modes.items}}
                                <option>{{this}}</option>
                            {{/each}} 
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="perspectives" class="col-form-label"><h6>Perspective(s)</h6></label>
                        <select name="perspectives" class="selectpicker" multiple data-live-search="true">
                            {{#each perspectives.items}}
                                <option>{{this}}</option>
                            {{/each}} 
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-file col-6">
                        <input type="file" class="custom-file-input"  name="imageGame" id="imageGame" accept=".png, .jpg, .jpeg">
                        <label class="custom-file-label" for="imageGame" id="fileName">Choose principal image</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">Save<i class="far fa-paper-plane ml-2"></i></button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to add a new game?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save new game</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/inputFileName.js"></script>